**
!backend/
!backend/**
!frontend/
!frontend/package.json
!frontend/package-lock.json
!frontend/index.html
!frontend/tsconfig*.json
!frontend/vite.config.ts
!frontend/src/
!frontend/src/**
!docs/
!docs/llm_model.json
!docs/SOURCES.md
!docker/
!docker/**
!LICENSE*
!NOTICE*
**/__pycache__/**
**/*.pyc
**/.env*
**/node_modules/**
**/runtime/**
**/models/**
**/*.pdf
**/*.gguf
**/*.safetensors
**/*.traineddata
